/node_modules
/public/storage
/public/hot
/storage/*.key
.idea
Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log